form {
  color: black !important;

  mat-form-field {
    display: block;
  }

      .mat-form-field-appearance-legacy .mat-form-field-label {
      color: black;
    }
}

.search-input {
  border: none;
  font-size: 1;
  outline: none;
  padding: 8px 16px;
  border-bottom-right-radius: 5px;
}
