<ng-container *ngIf="element">
  <div class="header"></div>

  <div class="element-wrapper wrapper">
    <h2>{{ element.name }}</h2>

    <button
      (click)="openDialog()"
      mat-flat-button
      color="accent"
      class="settings-button"
    >
      <mat-icon>settings</mat-icon>
    </button>

    <div class="grid">
      <div class="top">
        <div class="data-wrapper">
          <span>Anzahl</span>
          <span>{{ element.number }}</span>
          <span>Beschreibung</span>
          <span>{{ element.description }}</span>
          <ng-container *ngIf="element.parent">
            <span>Übergeordnet</span>
            <div class="children">
              <app-tree-list
                [elements]="element.parent"
                [treeNode]="'parent'"
              ></app-tree-list>
            </div>
          </ng-container>
          <ng-container *ngIf="element.children && element.children.length > 0">
            <span>Untergeordnet</span>
            <div class="children">
              <app-tree-list
                [elements]="element.children"
                [treeNode]="'children'"
              ></app-tree-list>
            </div>
          </ng-container>
        </div>
        <div class="actions">
          <button
            mat-raised-button
            [routerLink]="['/element/' + element.id + '/edit']"
          >
            Bearbeiten
          </button>
          <button [routerLink]="['/tree']" mat-stroked-button>Zurück</button>
        </div>
      </div>
      <div class="bottom">
        <div class="qr-code">
          <img
            *ngIf="element != undefined"
            src="{{
              'https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=' +
                baseUrl +
                'element/' +
                element.id +
                '&choe=UTF-8'
            }}"
          />
        </div>
      </div>
    </div>
  </div>
</ng-container>
