.filter-wrapper {
  width: fit-content;
  margin: 0 auto 25px;
}

.mat-card-title mat-icon.qr-code{
display: none;
}

.grid{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 50px;
  align-items: center;
}

.wrapper {
  width: 750px;
}

.data-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px 16px;
  max-width: 400px;
  margin: 0 auto;

 & > * mat-icon {
  vertical-align: middle;
 }

  & > *:nth-child(odd) {
    text-align: right;
    font-weight: 500;
  }

  & > *:nth-child(even) {
    text-align: left;
  }

  .children {
    & > span {
      display: block;
    }
  }

  .related-element {
    & > * {
      vertical-align: middle;
    }

    mat-icon {
      margin: 0px 8px;
      font-size: 20px;
      height: 20px;
      width: 20px;

      &.direct {
        margin: 0px 8px 0px 0px;
      }
    }
  }
}

.open-element {
  padding: 0px;
}

.actions {
  margin-top: 25px;
  grid-template-columns: 1fr 1fr;
}

.qr-code {
  margin: 0 auto;
  width: fit-content;
  border-radius: 5px;

  img {
    width: 200px;
     border-radius: 5px;

  }
}

@media (max-width : 720px) {
  .mat-card-title {
    mat-icon.qr-code {
      opacity: 0.5;
      display: unset;
    }
  }

  .wrapper {
    width: calc(90vw - 2 * 16px);
  }

  .data-wrapper {
    grid-template-columns: 2fr 3fr;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 50px;

    .bottom {
      display: none;
    }
  }
}
