<div class="header">
  <h2>Übersicht</h2>
</div>

<div class="tree-wrapper wrapper">
  <button
    (click)="openDialog()"
    mat-flat-button
    color="accent"
    class="settings-button"
  >
    <mat-icon>settings</mat-icon>
  </button>

  <div class="search-header">
    <div class="search">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          type="text"
          (keyup)="change($event.target.value)"
          placeholder="Suchen"
        />
      </mat-form-field>
    </div>

    <div class="create">
      <button [routerLink]="['/element/create']" mat-raised-button>
        <mat-icon matPrefix>create_new_folder</mat-icon>
        Anlegen
      </button>
    </div>
  </div>

  <ng-container *ngIf="elements | async; let eles; else: searchTemplate">
    <div *ngIf="!isFilledArray(eles)" class="empty">
      Es konnten keine Elemente gefunden werden.
    </div>
    <app-tree-list [elements]="eles" [treeNode]="'children'"></app-tree-list>
  </ng-container>
</div>

<ng-template #searchTemplate>
  <div class="searching">Suche nach Elementen ....</div>
</ng-template>
