mat-tree {
  background: none;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 32px;
  padding-left: 22px;
  border-left: 1px solid white;
  margin-left: 9px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 32px;
}


.mat-nested-tree-node, .mat-tree-node {
  margin-bottom: 4px;
}

.mat-tree-node[role="treeitem"] {
  padding-left: 0px !important;
}

.mat-tree-node {
  min-height: unset;
  font-size: 18px !important;
  color: white;

  &:last-of-type:not([role="treeitem"]) {
    margin-bottom: -13px;
  }

  & > * {
    margin: 0px 10px;
  }

  & > button {
    margin: 0px 12px 0px 0px
  }

  div.group {
    padding-left: 20px;
  }
}

.mat-icon-button {
  height: 20px;
  width: 20px;
  line-height: 20px;

  mat-icon {
    height: 20px;
    width: 20px;
    font-size:20px;
    line-height: 20px;
  }
}

@media (max-width : 720px) {
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 15px;
  }

  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 24px;
  }

  .mat-tree-node {
    & > button {
      margin: 0px 4px 0px 0px
    }
  }
}
