/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header {
  width: auto;
  padding: 16px;

  h2 {
    margin: 0 auto;
    width: fit-content;

    mat-icon {
      vertical-align: middle;
    }
  }
}

.wrapper {
  padding: 16px 32px;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  margin: 0 auto;
  width: fit-content;
  max-width: 1000px;
  min-width: 500px;
  color: black;
  position: relative;

  h2{
    width: 100%;
    text-align: center;
  }

  .actions {
    max-width: 250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .settings-button {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

input {
  color: black !important;
}

.open-element {
  opacity: 0.25
}

.mat-form-field-outline,
.mat-form-field-empty.mat-form-field-label,
.mat-form-field-label,
::placeholder {
  color: rgb(66, 66, 66) !important;
}


.mat-form-field-underline {
  background-color: rgb(66, 66, 66) !important;
}

.mat-select-value {
  color: black;
}

.empty{
  display: block;
  color: gray;
  margin: 12px 0px;
}

.mat-dialog-container {
  background-color: white !important;
  color: black;
}



@media (max-width : 720px) {
  .wrapper {
    width: 90vw;
    min-width: unset;
    max-width: unset;
  }
}


