/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
  padding-bottom: 100px;

  &:before {
    content: "";
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.25;
    overflow: hidden;
  }
}

.mat-card {
  margin-top: 50px !important;

  .mat-card-title {
    text-align: center;
    margin-bottom: 16px;

    span {
      vertical-align: middle;
    }

    mat-icon {
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  .mat-card-content {
    font-size: 18px;
  }
}


button.mat-raised-button {
  background-color: #a1d0ff;
  color:black;
}

button.mat-flat-button {
  background-color: white;
  color: black;
}

.wrapper {
  padding: 16px 32px;
  border-radius: 10px;
  background-color: #505e6ce5;
  margin: 0 auto;
  width: fit-content;
  max-width: 1000px;
  min-width: 500px;
  color: white;
  position: relative;

  h2{
    width: 100%;
    text-align: center;
  }

  .actions {
    max-width: 250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 16px;

  }

  .settings-button {
    top: 5px;
    left: 5px;
    position: absolute;
    color: black;
    opacity: 0.25;
  }
}

input, textarea {
  color: white !important;
}

.open-element {
  color: #a1d0ff;
}

.mat-form-field-outline,
.mat-form-field-empty.mat-form-field-label,
.mat-form-field-label,
::placeholder {
  color: white !important;
}


.mat-form-field-underline {
  background-color: white !important;
}

.mat-select-value {
  color: white;
}

.mat-dialog-container {
  .mat-form-field-outline, .mat-form-field-empty.mat-form-field-label, .mat-form-field-label, ::placeholder {
  color: black !important;
  }


  .mat-form-field-underline {
    background-color: black !important;
  }

  .mat-select-value {
    color: black;
  }

  input, textarea {
    color: black !important;
  }

}

.empty{
  display: block;
  color: gray;
  margin: 12px 0px;
}

.mat-dialog-container {
  background-color: white !important;
  color: black;
}



@media (max-width : 720px) {
  .wrapper {
    padding: 8px 16px;
    width: calc(90vw - 2 * 16px);
    min-width: unset;
    max-width: unset;
  }

  .mat-card .mat-card-content {
    font-size: 16px;
  }
}


