<mat-card class="wrapper">
  <mat-card-title>Erstellen</mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="!createdElement">
      <app-element-form
        (save)="create($event)"
        [edit]="false"
      ></app-element-form>
    </ng-container>

    <ng-container *ngIf="createdElement">
      <div class="created">
        Element "{{ createdElement.name }}" angelegt
        <button
          mat-raised-button
          [routerLink]="['/element/' + createdElement.id]"
        >
          Öffnen
        </button>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
